@charset "UTF-8";

/* gen-filter.css */

@font-face
{
	font-family: 'NoonnuBasicGothicRegular';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

*
{
    box-sizing: border-box;				/* 요소의 전체 크기(패딩 등 포함)로 표시 */
    margin: 0;
    padding: 0;
    font-family: 'NoonnuBasicGothicRegular';
}

#body-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0 10px;						/* 첫 번째 값은 수직 간격, 두 번째 값은 수평 간격 */
}

body
{
    /* background-color: #f8f9fa; */
    color: #333;
}

/* 메인 제목 */
.main-subject h1
{
	margin-right: 1000px; 				   /* 기본적으로 우측에 1000px 간격 */
}
.sub-subject h2
{
	margin-right: 900px; 				   /* 기본적으로 우측에 900px 간격 */
}

/* 반응형 디자인 구현 --------------------------------------------------------- */
@media (max-width: 1280px)
{
	.main-subject h1
	{
		margin-right: calc(100vw * 0.8);  /* 화면이 1280px 이하로 줄어들면 우측 간격을 80%로 설정 */
	}
	.sub-subject h2
	{
		margin-right: calc(100vw * 0.75);  /* 화면이 1280px 이하로 줄어들면 우측 간격을 75%로 설정 */
	}
}

@media (max-width: 960px)
{
	.main-subject h1
	{
		margin-right: calc(100vw * 0.7);  /* 화면이 960px 이하로 줄어들면 우측 간격을 70%로 설정 */
	}
	.sub-subject h2
	{
		margin-right: calc(100vw * 0.65);  /* 화면이 960px 이하로 줄어들면 우측 간격을 65%로 설정 */
	}
}
@media (max-width: 640px)
{
	.main-subject h1
	{
		margin-right: 0;  /* 화면이 640px 이하로 줄어들면 우측 간격을 0로 설정 */
	}
	.sub-subject h2
	{
		margin-right: 0;  /* 화면이 640px 이하로 줄어들면 우측 간격을 0로 설정 */
	}
}
/* --------------------------------------------------------------------------- */

h1
{
	font-size: 24px;
	padding: 20px;
	white-space: nowrap; 				/* 텍스트가 줄 바꿈 없이 한 줄로 유지 */
}

h2
{
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
    white-space: nowrap;
    padding: 10px;
}

/* 버튼 */
.btn
{
    background-color: #e28c99;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;					/* 마우스 커서가 손 모양(포인터) */
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;	/* CSS 속성값의 변화에 애니메이션 효과를 추가 */
    margin-bottom: 20px;
}

.btn:hover
{
    background-color: #febdb4;
}

.btn-small
{
	font-size: 12px;
	position: absolute;
    bottom: 10px;
    right: 20px;
}


#wrapper-body
{
	display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* gap: 20px 20px; */
}

/* 검색 결과 */
.results
{
	display: flex;
	flex: 1;
	gap: 10px 10px;
	flex-wrap: wrap;
	justify-content: center;
}

/* 긴급 돌봄 각 등록 건 */
.emg-registered
{
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
    box-shadow: 2px 2px 0 #e5e5e5;
    position: relative;
    width: 350px;
    height: 350px;
}


/* 긴급 돌봄 등록 정보 */
.emg-info
{
    flex: 1;
}

.parent-id
{
	display: flex;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.emg-details
{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
}

.emg-details div
{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}

/* 뱃지 형태의 정보 표시 */
.badge
{
    display: flex;
    background-color: #dcb9ff;
    color: #560d7d;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.male
{
	background-color: #aad5ff;
    color: #1f6c96;
}

.female
{
	background-color: #febdb4;
    color: #d9534f;
}

.child-has
{
	display: inline;
}

.child-has ul
{
	padding: 10px;
	margin-left: 10px;
	
}